* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

h2 {
  text-align: center;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin: 2rem 0;
}

.planting-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planting-page article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.planting-page h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 800;
  color: #055647;
}

.planting-page .responsible {
  font-weight: 600;
}